<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diploma project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .payment-paper {
            background: white;
            border: 1px solid lightgray;
            width: 400px;
            padding: 24px;
            margin-bottom: 16px;
            border-radius: 16px;
            display: flex;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">MyPlan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Firm <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto px-0" id="sidebar">
                <div>
                    <ul>
                        <li>
                            <a href="#step-1" role="button" data-toggle="collapse" class="nav-link">Этап 1 </a>
                        </li>
                        <li>
                            <a href="#step-2" role="button" data-toggle="collapse" class="nav-link">Этап 2</a>
                        </li>
                        <li>
                            <a href="#step-3" role="button" data-toggle="collapse" class="nav-link">Этап 3</a>
                        </li>
                        <li>
                            <a href="#step-4" role="button" data-toggle="collapse" class="nav-link">Этап 4</a>
                        </li>
                        <li>
                            <button class="btn btn-secondary " data-toggle="collapse" data-target="#section-new-firm"
                                    id="new-firm">Новая фирма
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary " data-toggle="collapse" data-target="#new-proj">Новый
                                проект
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary " data-toggle="collapse" data-target="#settings-firm"
                                    id="firm-settings">Расходы фирмы
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col px-0" id="content">
                <div id="section-new-firm" class="collapse">
                    <h2 class="display-4">Создать фирму</h2>
                    <form onsubmit="return createTable()">
                        <div class="form-group">
                            <input name="table" type="text" value="БДДС" hidden>
                            <label for="company-name">Название компании</label>
                            <input name="name" type="text" class="form-control mb-3" id="company-name"
                                   placeholder="my_company" value="Testing">
                            <button id="table_create_submit" class="btn btn-success" type="submit">Base creating
                            </button>
                        </div>
                    </form>
                    <p id="table_created" style="display: none;"><a href="" target="_blank">Таблица</a> успешно создана
                    </p>
                    <p id="board_created" style="display: none;"><a href="" target="_blank">Доска</a> успешно создана
                    </p>
                    <p id="create_error" style="display: none;">Ошибка при создании</p>
                </div>
                <div id="new-proj" class="collapse">
                    <h5 class="display-4">Новый проект</h5>
                    <form onsubmit="">
                        <input type="text" class="form-control mb-3" placeholder="Задайте имя проекта" required>
                        <button class="btn btn-success">Созадть проект</button>
                    </form>
                </div>
                <div id="step-1" class="collapse">
                    <div class="row">
                        <div class="col-12">

                            <h4>Project_name</h4>
                            <p>status: <strong>1 этап</strong>()</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-danger btn-sm">Ударить проект</button>
                            <button class="btn btn-success btn-sm">Перейти к выбору контракта</button>
                        </div>
                    </div>
                </div>
                <div id="step-2" class="collapse">
                    <div class="row">
                        <div class="col-12">

                            <h4>Project_name</h4>
                            <p>status: <strong>2 этап</strong>(подписание договора)</p>
                        </div>
                        <div class="col-12">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Выбрать контракт</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input contract" type="radio" name="gridRadios"
                                                   id="contract1" value="1" checked>
                                            <label class="form-check-label" for="contract1">
                                                Договор с пост оплатой по фиксированной цене
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input contract" type="radio" name="gridRadios"
                                                   id="contract2" value="2">
                                            <label class="form-check-label" for="contract2">
                                                Договор с фиксированной ценой и авансовыми платежами
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input contract" type="radio" name="gridRadios"
                                                   id="contract3" value="3">
                                            <label class="form-check-label" for="contract3">
                                                Договор с возмещением затрат
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-12" id="contract-form">
                            <div class="type-1 contract-form" style="display: none;">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="contract-type-first-price">Сумма контракта</label>
                                                <input id="contract-type-first-price" type="text" class="form-control"
                                                       placeholder="1000000">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="contract-type-first-date">Дата завершения</label>
                                                <input type="text" class="form-control" id="contract-type-first-date"
                                                       placeholder="1000000">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-success btn-sm">Установить договор</button>

                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="type-2 contract-form" style="display: none;">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Сумма контракта</label>
                                                <input type="text" class="form-control"
                                                       placeholder="1000000">
                                            </div>
                                        </div>
                                        <div class="col-12" id="second-type-contract-dates">
                                            {#                                            template#}
                                            <div class="form-group" style="display: none;"
                                                 id="second-type-contract-date-tmplt">
                                                <label for="">Дата платежа</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="1000000">
                                                <button class="btn btn-danger btn-sm rmv">Rmv</button>
                                            </div>
                                            {#                                            start#}
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Дата платежа</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="1000000">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn-info btn btn-sm" id="add-date">Добавить дату</button>

                                            <button class="btn btn-success btn-sm">Установить договор</button>

                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="type-3 contract-form" style="display: none;">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-success btn-sm">Установить договор</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="step-3" class="collapse">
                    <div class="row">
                        <div class="col-12">

                            <h4>Project_name</h4>
                            <p>status: <strong>3 этап</strong>(разработка)</p>
                        </div>
                        <div class="col-12">
                            <p>check-list</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success btn-sm">Перейти к сдаче проекта</button>
                        </div>

                    </div>

                </div>
                <div id="step-4" class="collapse">

                    <div class="row">
                        <div class="col-12">

                            <h4>Project_name</h4>
                            <p>status: <strong>4 этап</strong>(сдача/приемка проекта)</p>
                        </div>
                        <div class="col-12">
                            <p>check-list</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-warning btn-sm">Закрыть проект</button>
                            <button class="btn btn-success btn-sm">Перейти к сдаче проекта</button>
                        </div>
                    </div>

                </div>
                <div id="settings-firm" class="collapse">
                    <p>Обязательные расходы фирмы</p>
                    <div id="payment-form-tmplt" style="display: none;" class="payment-paper">
                        <div class="row">
                            <div class="col-12">
                                <button class="ml-auto btn btn-sm btn-outline-danger delete-payment">Удалить</button>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Наименование расходов</label>
                                    <input type="text" class="form-control"
                                           placeholder="Расход">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Объем расходов ₽</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput2"
                                           placeholder="1000000">
                                </div>
                            </div>
                        </div>


                    </div>
                    <form novalidate id="payments">
                        <div id="payments-row">

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success" id="add-to-payments">Добавить позицию</button>
                            </div>
                        </div>
                    </form>
                    {#                    TODO нужны настройки расходов для фирмы - добавление обязательных расходов#}
                </div>
            </div>
        </div>
    </div>
</section>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    const createTable = function () {
        $.ajax({
            type: 'POST',
            url: "/table/create",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                table: $('[name=table]').val(),
                name: $('[name=name]').val()
            },
            success: function (resp) {
                console.log(resp);
                if (!resp.error) {
                    $('#table_created').show();
                    $('#table_created a').attr('href', resp.sheets_url)
                    $('#board_created').show();
                    $('#board_created a').attr('href', resp.trello_url)
                } else {
                    $('#create_error').show();
                }
            },
            error: function (resp) {
                console.log(resp);
            },
            beforeSend: function () {
                $('#table_create_submit').attr('disabled', true);
            },
            complete: function () {
                $('#table_create_submit').attr('disabled', false);
                $('#new-firm').parent().remove();
            }
        });
        return false;
    }
</script>

<script>
    $('#add-to-payments').on('click', function () {
        let tmplt = $('#payment-form-tmplt').clone().removeAttr('id');
        $('#payments-row').append(tmplt);
        tmplt.show();
        $(tmplt).find('.delete-payment').on('click', function () {
            $(this).parent().parent().parent().remove();
        })
    })
</script>
<script>
    $('[data-toggle=collapse]').on('click', function () {
        $('.collapse').removeClass('show');
    });
</script>
<script>
    $('.contract').on('change', function () {
        let type = $(this).val();
        $('.contract-form').hide();
        $('#contract-form .type-' + type).show();
    })
</script>
<script>
    $('#add-date').on('click', function () {
        var tmplt = $('#second-type-contract-date-tmplt').clone().removeAttr('id');
        $('#second-type-contract-dates').append(tmplt);
        tmplt.show();
        tmplt.find('.rmv').on('click',function () {
            $(this).parent().remove();
        })
    })
</script>
</html>